{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<div>
    <h1 class="entry-title">{{ page.title }}</h1>
	{% if page.submenu and SUBMENUS[page.submenu] %}
	<div>
		<nav>
		<ul>
			{% for title, link in SUBMENUS[page.submenu] %}
			<li><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
			{% endfor %}
		</ul>
		</nav>
	</div>
	{% endif %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
</div>
{% endblock %}
